<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewProto</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/a11y-defaults.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewProto.styles.css" asp-append-version="true" />
</head>
<body class="container-fluid">
    <a a11y-skip-link a11y-skip-target="content">Skip to main content</a>
    <header class="agency-header">
        <div class="official-banner">
            <div class="official-banner__inner">
                <span aria-hidden="true">ISP</span>
                <p>Illinois State Police</p>
            </div>
        </div>

        <div class="agency-masthead">
            <div class="agency-masthead__inner">
                <a class="agency-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="agency-brand__seal rounded mx-auto d-block" aria-hidden="true">
                        <img src="~/img/isp_department seal (scaled).png" height="100" alt="Alternate Text" />
                    </span>
                    <span>
                        <span class="agency-brand__name ">State of Illinois</span>
                        <span class="agency-brand__name">Illinois State Police</span>
                    </span>
                </a>
                <nav>
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" a11y-hit-target="@A11yTargetSize.Minimum">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services" a11y-hit-target="@A11yTargetSize.Minimum">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#records" a11y-hit-target="@A11yTargetSize.Minimum">Records</a></li>
                        <li class="nav-item"><a class="nav-link" href="#safety" a11y-hit-target="@A11yTargetSize.Minimum">Public Safety</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact" a11y-hit-target="@A11yTargetSize.Minimum">Contact</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html" target="_blank" a11y-sr-only-hint a11y-hit-target="@A11yTargetSize.Minimum">
                                WCAG Guidance
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        @* <nav class="navbar navbar-expand-lg navbar-dark border-bottom box-shadow mb-3" aria-label="Primary navigation">
                <div class="container-fluid">
                    <a class="head-buttons nav-link btn-link" asp-area="" asp-controller="Home" asp-action="Index" a11y-hit-target="@A11yTargetSize.Minimum">Home</a>
                    <a class="head-buttons nav-link btn-link" href="#services" a11y-hit-target="@A11yTargetSize.Minimum">Services</a>
                    <a class="head-buttons nav-link btn-link" href="#records" a11y-hit-target="@A11yTargetSize.Minimum">Records</a>
                    <a class="head-buttons nav-link btn-link" href="#safety" a11y-hit-target="@A11yTargetSize.Minimum">Public Safety</a>
                    <a class="head-buttons nav-link btn-link" href="#contact" a11y-hit-target="@A11yTargetSize.Minimum">Contact</a>
                    <a class="head-buttons nav-link btn-link" href="https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html" target="_blank" a11y-sr-only-hint a11y-hit-target="@A11yTargetSize.Minimum">
                        WCAG Guidance
                    </a>
                </div>
            </nav> *@
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <div style="padding-top: 3rem;">
        <partial name="_footer" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
